/* .cont-text{
  border:1px solid white;
  background-color: antiquewhite;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(244, 6, 192, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-text:hover{
  background-color: aqua;
  box-shadow: 0 0 10px rgba(6, 244, 22, 0.5);
} */

.product-container{
  border: 1px solid black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow:0 0 5px 0px black;
  
}
img{
  width: 200px;
  height: 200px;
  object-fit: contain;

}
.p-10{
  padding: 10px;
}
.price-rate{
  display: flex;
  justify-content: space-between;
}
